.landing__page {
    position: relative;
}

.landing__container {
    min-width: 100%;
    width: 2560px;
    height: 100vh;
    overflow: hidden;
}

.landing__image {
    min-width: 100%;
}

.landing__animation {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.landing__top {
    position: absolute;
    top: 560px;
    width: 700px;
    height: 40px;
    background-color: rgba(0, 0, 0, 1);
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    border-radius: 2px;
    /* padding-right: 10px; */
}

.landing__top--menu {
    margin: 5px 5px 0px 0px;
}

.landing__text--container {
    position: absolute;
    top: 600px;
    margin: 0 auto;
    width: 700px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    font-family: 'Roboto Mono', monospace;
}

.landing__text--header {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffffff;
}

.landing__text--body:after {
    color: #ffffff;
    content: "|";
    animation: typewriter 10s linear 1s;
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite;
}


@keyframes typewriter {
    0% {
        content: ">> |";
    }
    2% {
        content: ">> M|";
    }
    3% {
        content: ">> My|";
    }
    4% {
        content: ">> My |";
    }
    5% {
        content: ">> My n|";
    }
    6% {
        content: ">> My na|";
    }
    7% {
        content: ">> My nam|";
    }
    8% {
        content: ">> My name|";
    }
    9% {
        content: ">> My name |";
    }
    10% {
        content: ">> My name i|";
    }
    11% {
        content: ">> My name is|";
    }
    12% {
        content: ">> My name is |";
    }
    13% {
        content: ">> My name is D|";
    }
    14% {
        content: ">> My name is Do|";
    }
    15% {
        content: ">> My name is Dou|";
    }
    16% {
        content: ">> My name is Doug|";
    }
    17% {
        content: ">> My name is Dougl|";
    }
    18% {
        content: ">> My name is Dougla|";
    }
    19% {
        content: ">> My name is Douglas|";
    }
    20% {
        content: ">> My name is Douglas |";
    }
    21% {
        content: ">> My name is Douglas R|";
    }
    22% {
        content: ">> My name is Douglas Ry|";
    }
    23% {
        content: ">> My name is Douglas Ryu|";
    }
    24% {
        content: ">> My name is Douglas Ryu.|";
    }
    27% {
        content: ">> My name is Douglas Ryu|";
    }
    28% {
        content: ">> My name is Douglas Ry|";
    }
    29% {
        content: ">> My name is Douglas R|";
    }
    30% {
        content: ">> My name is Douglas |";
    }
    31% {
        content: ">> My name is Douglas|";
    }
    32% {
        content: ">> My name is Dougla|";
    }
    33% {
        content: ">> My name is Dougl|";
    }
    34% {
        content: ">> My name is Doug|";
    }
    35% {
        content: ">> My name is Dou|";
    }
    36% {
        content: ">> My name is Do|";
    }
    37% {
        content: ">> My name is D|";
    }
    38% {
        content: ">> My name is |";
    }
    39% {
        content: ">> My name is|";
    }
    40% {
        content: ">> My name i|";
    }
    41% {
        content: ">> My name |";
    }
    42% {
        content: ">> My name|";
    }
    43% {
        content: ">> My nam|";
    }
    44% {
        content: ">> My na|";
    }
    45% {
        content: ">> My n|";
    }
    46% {
        content: ">> My |";
    }
    47% {
        content: ">> My|";
    }
    48% {
        content: ">> M|";
    }
    49% {
        content: ">> |";
    }
    52% {
        content: ">> I|";
    }
    53% {
        content: ">> I'|";
    }
    54% {
        content: ">> I'm|";
    }
    55% {
        content: ">> I'm |";
    }
    56% {
        content: ">> I'm a|";
    }
    57% {
        content: ">> I'm a S|";
    }
    58% {
        content: ">> I'm a So|";
    }
    59% {
        content: ">> I'm a Sof|";
    }
    60% {
        content: ">> I'm a Soft|";
    }
    61% {
        content: ">> I'm a Softw|";
    }
    62% {
        content: ">> I'm a Softwa|";
    }
    63% {
        content: ">> I'm a Softwar|";
    }
    64% {
        content: ">> I'm a Software|";
    }
    65% {
        content: ">> I'm a Software |";
    }
    66% {
        content: ">> I'm a Software E|";
    }
    67% {
        content: ">> I'm a Software En|";
    }
    68% {
        content: ">> I'm a Software Eng|";
    }
    69% {
        content: ">> I'm a Software Engi|";
    }
    70% {
        content: ">> I'm a Software Engin|";
    }
    71% {
        content: ">> I'm a Software Engine|";
    }
    72% {
        content: ">> I'm a Software Enginee|";
    }
    73% {
        content: ">> I'm a Software Engineer|";
    }
    74% {
        content: ">> I'm a Software Engineer.|";
    }
    76% {
        content: ">> I'm a Software Engineer|";
    }
    77% {
        content: ">> I'm a Software Enginee|";
    }
    78% {
        content: ">> I'm a Software Engine|";
    }
    79% {
        content: ">> I'm a Software Engin|";
    }
    80% {
        content: ">> I'm a Software Engi|";
    }
    81% {
        content: ">> I'm a Software Eng|";
    }
    82% {
        content: ">> I'm a Software En|";
    }
    83% {
        content: ">> I'm a Software E|";
    }
    84% {
        content: ">> I'm a Software |";
    }
    85% {
        content: ">> I'm a Software|";
    }
    86% {
        content: ">> I'm a Softwar|";
    }
    87% {
        content: ">> I'm a Softwa|";
    }
    88% {
        content: ">> I'm a Softw|";
    }
    89% {
        content: ">> I'm a Soft|";
    }
    90% {
        content: ">> I'm a Sof|";
    }
    91% {
        content: ">> I'm a So|";
    }
    92% {
        content: ">> I'm a S|";
    }
    93% {
        content: ">> I'm a |";
    }
    94% {
        content: ">> I'm a|";
    }
    95% {
        content: ">> I'm |";
    }
    96% {
        content: ">> I'm |";
    }
    97% {
        content: ">> I'm|";
    }
    98% {
        content: ">> I'|";
    }
    99% {
        content: ">> I|";
    }
    100% {
        content: ">> |";
    }
}
